<!DOCTYPE html>
<html>
<head>
	<meta charset ="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<h1>Créditos</h1>
	<a href="/">Inicio</a>
	<a href="/author">Créditos</a>
	<a href="/help">Ayuda</a>
	
	<p>Esta práctica ha sido desarrollada por Tomás María Serra y Jose Ángel Miranda Díaz.
	</p>
	<a href="https://github.com/diazserra">github</a>
	

<img src="/images/jose.jpg" />
<img src="/images/foto.jpg" />
</body>
</html>

