<!DOCTYPE html>
<html>
<head>
	<meta charset ="utf-8">
	<title>Quiz</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	<h1>Ayuda</h1>
	<a href="/">Inicio</a>
	<a href="/author">Créditos</a>
	<a href="/help">Ayuda</a>
	<p>Está pagina sirve para poder crear tus propias preguntas y que otras personas las contesten. En base a tus respuestas, si fallas tendras mas opciones.</p>

</body>
</html>

